/*-----------General styles---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 10px auto;
}

/*---------Header----------*/
header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.header h1, .header .credits {
	width: fit-content;
}

header .credits {
	font-size: 13px;
}

/*----------Main-----------*/

/*Buttons*/
.main .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main .buttons .btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #fff;
	line-height: 30px;

	margin-right: 12px;
	margin-bottom: 20px;
	padding: 0 20px;
	width: 183px;
	height: 30px;
	
	border: none;
	border-radius:100px;
	
	background: #54B53D;
	cursor: pointer;
}

.main .buttons .btn:hover{
	cursor: pointer;
	background: rgb(37, 153, 9);
}

.main .buttons .btn.btn_push {
	background: red;
}

.main .buttons .btn.btn_push:hover {
	cursor: pointer;
	background: red;
}

.main .buttons .btn.loader {
	color: #fff;
	background: rgb(111, 108, 129);
	cursor: default;
}

.main .buttons .btn.cancel {
	color: #000;
	cursor: default;
	background: rgb(193, 193, 193);
	opacity: 50%;
}

.main .buttons .search_box {
	width: fit-content;
	height: 30px;
	padding: 3px;
	margin-bottom: 20px;

	border-radius: 100px;
	border: solid 2px #000;
}

.main .buttons .search_box .search {
	font-size: 16px;
	width: 155px;
	border: none;
	outline: none;
}

/*Form*/
.form {
	border-radius: 10px;

	background: rgb(224, 224, 224);

	margin-bottom: 20px;
	width: fit-content;

	display: flex;
	flex-direction: row;
}

.form_none {
	display: none;
}

.form .simple .register,
.form .simple p,
.form .simple button {
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.form .simple .register {
	margin: 10px;
}

.form .simple .register .form_in{
	width: 100px;
	font-family: 'Montserrat', sans-serif;
}

.form .register textarea {
	font-family: 'Montserrat', sans-serif;
	width: 198px;
	height: 102px;
	resize: none;
	padding: 3px;
}

.form .register {
	margin: 10px;
}

.form .simple .missing_none {
	display: none;
}

.form .simple .missing {
	font-size: 13px;
	color: red;
}

.form .simple .sub{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	line-height: 30px;

	width: fit-content;
	height: 30px;
	padding: 0 20px;

	border: none;
	border-radius:100px;
	
	background: #54B53D;
	cursor: pointer;
}

.form .simple .sub:hover{
	cursor: pointer;
	background: rgb(37, 153, 9);
}

.label_missing {
	color: red;
}

/*Table*/
table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

tr {
	border-bottom: solid 0.5px #000;
}

th {
	padding: 15px;
	margin: 0;
}

table .principal {
	color: rgb(58, 111, 246);
	border-bottom: solid 6px rgb(28, 83, 223);
}

table .secondary:hover {
	cursor: pointer;
	background: #ccc;
}

table .selected {
	background: #ccc;
}

.choose_none {
	display: none;
}

/*----Media Query-----*/
@media screen and (max-width: 580px) {
	th {
		padding: 5px;
	}
}

@media screen and (max-width: 430px) {
	th {
		padding: 3px;
	}

	.header {
		flex: start;
	}

	.header h3 {
		font-size: 10px;
	}

	.main .buttons .btn {
		margin-right: 15px;
		font-size: 15px;
		width: 160px;
	}

	.main .buttons .search_box .search {
		width: 133px;
	}

	.label_in, .label_missing {
		font-size: 12px;
	}

	.form .simple .missing {
		width: fit-content;
	}

	.form_in {
		font-size: 10px;
	}

	.form .simple .register {
		width: 175px;
	}

	.form .register textarea {
		width: 128px;
		height: 78px;
		resize: none;
	}

	table {
		font-size: 12px;
	}
}

@media screen and (max-width: 400px) {
	.main .buttons .btn {
		margin-right: 5px;
	}

	.header .title {
		font-size: 25px;
	}

	.header h3 {
		font-size: 10px;
	}
}

@media screen and (max-width: 367px) {
	.main .buttons .btn {
		font-size: 13px;
		width: 145px;
	}

	.main .buttons .search_box .search {
		width: 117px;
	}

	.form .register textarea {
		width: 110px;
		height: 78px;
		resize: none;
	}
}

@media screen and (max-width: 345px) {
	th {
		padding: 1px;
	}
}
